Repository martinippo01/taskmanager2000-agents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3, build-upload-s3, build-echo, build-linux-command, build-sidecar

test-download-s3:
  stage: test
  script:
  - echo "Testing download-s3..."

test-upload-s3:
  stage: test
  script:
  - echo "Testing upload-s3..."

test-echo:
  stage: test
  script:
  - echo "Testing echo..."

test-linux-command:
  stage: test
  script:
  - echo "Testing linux-command..."

test-sidecar:
  stage: test
  script:
  - echo "Testing sidecar..."

build-download-s3:
  stage: build
  trigger:
    include: download-s3/.gitlab-ci.yml
    strategy: depend

build-upload-s3:
  stage: build
  trigger:
    include: upload-s3/.gitlab-ci.yml
    strategy: depend

build-echo:
  stage: build
  trigger:
    include: echo/.gitlab-ci.yml
    strategy: depend

build-linux-command:
  stage: build
  trigger:
    include: linux-command/.gitlab-ci.yml
    strategy: depend

build-sidecar:
  stage: build
  trigger:
    include: sidecar/.gitlab-ci.yml
    strategy: depend

propper ci
  .gitlab-ci.yml
Due: none

propper ci
  download-s3/.gitlab-ci.yml
  echo/.gitlab-ci.yml
  linux-command/.gitlab-ci.yml
  sidecar/.gitlab-ci.yml
  upload-s3/.gitlab-ci.yml
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3, build-upload-s3, build-echo, build-linux-command, build-sidecar

propper ci
  .gitlab-ci-template.yml
  download-s3/.gitlab-ci.yml
  echo/.gitlab-ci.yml
  linux-command/.gitlab-ci.yml
  sidecar/.gitlab-ci.yml
  upload-s3/.gitlab-ci.yml
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3, build-upload-s3, build-echo, build-linux-command, build-sidecar

propper ci
  .gitlab-ci-template.yml
  upload-s3/.gitlab-ci.yml
Due: build-upload-s3

propper ci
  .gitlab-ci-template.yml
Due: none

gotit?
  .gitlab-ci-template.yml
Due: none

shouldnt run pipeline to deploy neither test
  .gitlab-ci.yml
Due: none

fix: cambio a un valor default
  sidecar/comunication.py
Due: build-sidecar

fix: entrypoint del sidecar tiene que ser communication.py, no sidecar.py
  sidecar/Dockerfile
Due: build-sidecar

Fix: communication va con dos emes
  sidecar/communication.py
Due: build-sidecar

Fix: fix import
  sidecar/communication.py
Due: build-sidecar

fix: healthcheck_port configurado correctamente
  sidecar/healthcheck.py
Due: build-sidecar

fix: logging.info en lugar de logging.log(...)
  sidecar/send_data_task_service.py
Due: build-sidecar

fix: import de requests
  sidecar/send_data_task_service.py
Due: build-sidecar

fix: kafka data schema
  sidecar/communication.py
  sidecar/send_data_task_service.py
Due: build-sidecar

fix: connection validation
  sidecar/send_data_task_service.py
Due: build-sidecar

Fix: algo de los inputs y cosas varias
  echo/main.py
  linux-command/main.py
  sidecar/communication.py
  sidecar/healthcheck.py
  upload-s3/main.py
Due: build-upload-s3, build-echo, build-linux-command, build-sidecar

Fix: import problem with requests
  sidecar/communication.py
Due: build-sidecar

Ahora manda también name
  sidecar/communication.py
Due: build-sidecar

Fix append
  download-s3/main.py
  sidecar/communication.py
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3, build-sidecar

Fix: para que no se manden tantos mensajes innecesarios
  sidecar/communication.py
Due: build-sidecar

Download mejorado
  download-s3/main.py
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3

A ver si asi funciona
  download-s3/main.py
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3

Added requirements.txt
  download-s3/requirements.txt
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3

Fix
  download-s3/main.py
Due: test-download-s3, test-upload-s3, test-echo, test-linux-command, test-sidecar, build-download-s3

Upload
  upload-s3/main.py
  upload-s3/requirements.txt
Due: build-upload-s3

Path conditions:
  test-download-s3: any of: download-s3/**/*
  test-upload-s3: any of: download-s3/**/*
  test-echo: any of: download-s3/**/*
  test-linux-command: any of: download-s3/**/*
  test-sidecar: any of: download-s3/**/*
  build-download-s3: any of: download-s3/**/*
  build-upload-s3: any of: upload-s3/**/*
  build-echo: any of: echo/**/*
  build-linux-command: any of: linux-command/**/*
  build-sidecar: any of: sidecar/**/*
